.chemistry-lab {
  position: fixed;
  left: 20vw;
  bottom: 50vh;
  width: 15vw;
  height: 15vh;
  border: 2px solid red;
  background-color: pink;
  color: blue;
  text-align: center;
}

.chemistry-lab:hover {
  cursor: pointer;
  background-color: rgb(196, 135, 145);
}