.farming-patch {
  position: fixed;
  left: 40vw;
  top: 40vh;
  width: 10vw;
  height: 10vh;
  border: 1px solid brown;
  background-color: brown;
  text-align: center;
}

.farming-patch:hover {
  cursor: pointer;
  background-color: rgb(107, 29, 29);
}