.fletching-hut {
  position: fixed;
  left: 20vw;
  bottom: 70vh;
  width: 10vw;
  height: 10vh;
  border: 1px solid yellow;
  background-color: sienna;
  text-align: center;
}

.fletching-hut:hover {
  cursor: pointer;
  background-color: rgb(112, 53, 26);
}