.game-feed {
  position: fixed;
  left: 15vw;
  top: 67.25vh;
  width: 30vw;
  height: 22.75vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border: 1px solid blue;
  color: black;
}

.game-feed-item {
  border: 1px solid red;
}