.item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1vw;
  border: 2px solid white;
  background-color: rgb(16, 16, 16);
  color: yellow;
  border-radius: 5px;
  width: 9vw;
  height: 9vw;
  text-align: center;
}

.item-subvalue {
  margin-top: -1vh;
}