.level-display {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  width: 45vw;
  justify-content: space-between;
}

.level-display-item {
  width: 9vw;
  height: 4vh;
  font-size: 12pt;
}

.next-level-item {
  width: 15vw;
  height: 4vh;
  font-size: 12pt;
}