.quad-header {
  position: fixed;
  top: 2vh;
  height: 4vh;
  left: 40vw;
  width: 20vw;
  text-align: center;
  border: 1px solid white;
  background-color: black;
}

.control-ref {
  width: 0.5vw;
  height: 0.5vh;
  position: fixed;
  top: -5vh;
}