.store {
  position: fixed;
  left: 47vw;
  bottom: 47vh;
  width: 10vw;
  height: 10vh;
  background-color: yellow;
  border: 1px solid rgb(0, 0, 0);
  color: black;
  text-align: center;
}

.store:hover {
  cursor: pointer;
  background-color: rgb(200, 200, 0);
}