.store-header {
  text-align: center;
  font-size: 18pt;
  text-shadow: 2px 2px magenta;
}

.money-header {
  position: fixed;
  left: 70vw;
  top: 15vh;
  height: 4vh;
  margin: 0px;
}

.buy-sell-prompt {
  position: fixed;
  left: 25vw;
  top: 15vh;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  width: 15vw;
  font-size: 15pt;
  height: 4vh;
  margin: 0px;
}

.buy-sell-switch {
  background-color: transparent;
  color: red;
  font-size: 15pt;
  border: none;
  margin-top: -0.35vh;
}

.store-wares-screen {
  border: 1px solid white;
  width: 76vw;
  height: 64vh;
  position: fixed;
  left: 16vw;
  top: 21vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1vw;
  padding: 1vw;
}

.bank-items-screen {
  border: 1px solid white;
  width: 76vw;
  height: 64vh;
  position: fixed;
  left: 16vw;
  top: 21vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow-y: scroll;
  gap: 1vw;
  padding: 1vw;
}

.store-item {
  width: 9vw;
  height: 15vw;
}

.buy-item-button {
  background-color: transparent;
  border-radius: 5px;
  width: 9.4vw;
  height: 3vh;
  border-color: red;
  color: red;
}

.buy-item-button:hover {
  cursor: pointer;
  background-color: skyblue;
}

.buy-ten-button {
  background-color: transparent;
  border-radius: 5px;
  width: 9.4vw;
  height: 3vh;
  border-color: yellow;
  color: yellow;
}

.buy-ten-button:hover {
  cursor: pointer;
  background-color: lightblue;
}

.sell-item-button {
  background-color: transparent;
  border-radius: 5px;
  width: 9.4vw;
  height: 3vh;
  border-color: orange;
  color: orange;
}

.sell-item-button:hover {
  background-color: yellow;
  cursor: pointer;
}

.sell-half-button {
  background-color: transparent;
  border-radius: 5px;
  width: 9.4vw;
  height: 3vh;
  border-color: red;
  color: red;
}

.sell-half-button:hover {
  background-color: orange;
  cursor: pointer;
}

.sell-all-button {
  background-color: transparent;
  border-radius: 5px;
  width: 9.4vw;
  height: 3vh;
  border-color: purple;
  color: purple;
}

.sell-all-button:hover {
  background-color: hotpink;
  cursor: pointer;
}
