.tool-shed {
  position: fixed;
  left: 50vw;
  bottom: 70vh;
  width: 10vw;
  height: 10vh;
  border: 1px solid brown;
  background-color: tan;
  text-align: center;
}

.tool-shed:hover {
  cursor: pointer;
  background-color: rgb(209, 156, 86)
}